body, html {
  width: 100%;
  overflow-x: hidden;
}
h3 {
  font: 700 26px/1 'PT Serif', serif;
}
h5 {
  font: 700 16px/24px 'PT Serif', serif;
  color: #ff6633;
}
h6 {
  color: #fff;
  font: 400 13px/21px 'PT Sans', sans-serif;
}
.orange-button {
  width: 160px;
  height: 50px;
  background-color: #ff6633;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
  font: 700 13px/24px 'PT Sans', sans-serif;
}
.orange-button:hover {
  box-shadow: 0 0 5px rgb(0, 0, 0);
  transition: box-shadow 0.2s ease-in-out;
}
header {
  position: relative;
  background-image: url(../img/header.jpg);
  background-size: cover;
  width: 100%;
}
.content-wrapper {
  max-width: 940px;
  margin: auto;
}
.content-wrapper2 {
  max-width: 1300px;
  margin: auto;
}
.orange-text {
  color: #ff6633;
}